body{
    font-family: 'Yomogi', cursive;
    margin: 0;
}
h1{
    font-size: 60px;
}
.Lima-color{
    color:lime ;
}
.My-peras{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(45, 248, 79),rgb(103, 138, 236));
    padding:20px 40px;
    color: mintcream;
    font-weight: 600;
    border-radius: 40px;
}
.top-banner{
    background-image: url(image/Frame\ 59.jpg);
    background-repeat: no-repeat;
    
}
p{
    color: rgb(255, 2, 2);

}
.pera-2{
background-image: url(image/Group\ 8446.png);
background-repeat: no-repeat;
}
.main-pera{
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-position: left;
}
.jamela{
    width: 30%;
    margin-right:5%;
    margin-left: 5%;
    padding-left:10Px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px gray;
}
#fotter-positio{
    text-align: center;
}
#food-word{
    color: greenyellow;
}