body{
    font-family: 'Yomogi', cursive;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 35px
}
h3{
    font-size: 30px;
}
.Lima-color{
    color:lime ;
}
.My-peras{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(18, 24, 17),rgb(207, 252, 103));
    padding:20px 40px;
    color: mintcream;
    font-weight: 600;
    border-radius: 40px;
}
.top-banner{
    background-image: url(image/Project\ Cover.png);
    background-repeat: no-repeat;
    
}
p{
    color: rgb(255, 155, 40);
    font-size: 25px;

}
#-p-change{
    color: rgb(255, 104, 197);
}
.pera-2{
background-image: url(image/gn.png);
background-repeat: no-repeat;
background-position: right;
}
.main-pera{
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-position: left;
}
.jamela{
    width: 30%;
    margin-right:5%;
    margin-left: 5%;
    padding-left:5Px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px gray;
}
#fotter-positio{
    text-align: center;
}
#food-word{
    color: rgb(247, 235, 74);
}
#recipes{
    text-align: center;
}
.jamela-tamela{
    font-size: 20px;
    width: 50% 50%;
}
#pizza-photo{
    background-image: url(image/Project\ Cover6.png);
    background-repeat: no-repeat;
}
#biryani{
    background-image: url(image/gb.jpg);
    background-repeat: no-repeat;
}
#Masala-dosa{
    background-image: url(image/gp.jpg);
    background-repeat: no-repeat;
}