body{
    font-family: 'Yomogi', cursive;
    margin: 0;
}
h1{
    font-size: 60px;
}
.Lima-color{
    color:lime ;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:20px 40px;
    color: mintcream;
    font-weight: 800;
    border-radius: 40px;
}
.top-banner{
    background-image: url(image/Frame\ 59.jpg);
    background-repeat: no-repeat;
    
}